/*

RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*

GENERAL

*/

.flex-box{
    display: flex;
}

/*

HEADER

*/

.flex-1{
    justify-content: space-between;
}



.column-nav-header{
    width: 50%;
}

.nav-header-right{
    text-align: right;
}

.jumbotron-container{
    max-width: 60vw;
    margin: auto;
}
/*

MAIN

*/

/*

FOOTER

*/


/*

DEBUG

*/

.debug header{
    background-color: aquamarine;
    height: 800px;
    width: 100vw;
}

.debug main{
    background-color: magenta;
    height: 1000px;
    width: 100vw;
}

.debug footer{
    background-color: mediumseagreen;
    height: 200px;
    width: 100vw;
}

.debug .flex-1{
    height: 100px;
}

.debug .column-nav-header{
    background-color: blue;
}

.debug .jumbotron-container{
    background-color: bisque;
    width: 60vw;
    height: 600px;
    border: dashed black;
}

.debug .flex-2{
    background-color: darkgoldenrod;
    height: 400px;
    width: 100%;
}

.debug .column-40,
.debug .column-60{
    border: dashed black;
    height: 400px;
}

.debug .column-40{
    width: 40%;
}

.debug .column-60{
    width: 60%;
}
