/*

RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*

GENERAL

*/

.flex-box{
    display: flex;
}

.container{
    max-width: 60vw;
    margin:auto
}

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    overflow: scroll;
}

button{
    text-decoration: none;
    border: hidden;
    color: white;
    background-color: #0061FF;
    font-size: 1em;
    font-weight: lighter;
    padding: 10px 20px;
}

img{
    width: 100%;
}

a:visited{
    color: #0061FF;
}
/*

HEADER

*/

header{
    background-color: #B4D0E7;
    width: 100vw;
}

.header-top{
    justify-content: space-between;
    width: 100vw;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    z-index: 2;
    align-content: center;
    vertical-align: middle;
    background-color: white;
    font-weight: light;
    padding-bottom: 10px;
}

.jumbotron-container{
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
}

.flex-1{
    width: 100%;
    position: relative;
    top: 100px;
    margin-top: -30px;
}

.column-50{
    width: 50%;
    align-content: center;
}

.column-30{
    width: 30%;
}

.column-70{
    width: 70%;
}

.nav-header-right{
    text-align: right;
}

.column-30>*{
    display: block;
    margin-bottom: 10px;
}

.jumbotron-container{
    max-width: 60%;
    margin: auto;
    padding-bottom: 40px;
}

li{
    list-style: none;
}

.header-top>ul>li{
    display: inline-block;
    margin: 15px;
}
.header-top>ul>li>a{
    color: #999999;
}

.header-top button{
    margin:-10px 0px -10px -10px;
}

li>a{
    text-decoration: none;
}

#logo{
vertical-align: middle;
}


.fa-dropbox{
    color: #005FFF;
}

.fa-arrow-down{
    font-size: 3em;
    margin-top: 30px;
}

h1{
    font-size: 3.5em;
    font-weight: 800;
    margin-top: 50px;
}
/*

MAIN

*/
main{
    padding-top: 100px;
}

.payment-selection>*{
    margin-bottom: 50px;
}

.payment-selection>h2{
    font-weight: bold;
    font-size: 3em;
}

.flex-3{
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.column-3{
    width: 30%;
    border: 1px solid black;
}

.head-column-3{
    border-bottom: 1px solid #999999;
    text-align: center;
    padding: 10px;
}

.main-column-3>*{
    padding-left: 30px;
    padding-right: 30px;
}

.main-column-3>h2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-column-3>h3{
    font-size: 1em;
    padding-bottom: 10px;
}
.main-column-3>p{
    font-weight: 200;
    padding-bottom: 40px;
}
.main-column-3>ul{
    padding-bottom: 40px;
    color: black;
}

.main-column-3>a>button{
    margin-bottom: 40px;
}

.main-column-3>ul>li{
    padding-bottom: 10px;
}
.main-column-3>hr{
    margin-bottom: 20px;
    margin-left: 30px;
}

.fa-check{
    color: #005FFF;
}

.flex-4{
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}

.head-flex-4{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px;
}

.flex-5{
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-5>.column-60>h2{
    padding-bottom: 10px;
}

.flex-5>.column-60>p{
    padding-top: 40px;
}

.column-60{
    width: 60%;
}

.column-20{
    width: 20%;
}

.column-40{
    width: 40%;
}
.flex-partner{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.flex-partner .column-40{
    align-items: stretch;
    padding-left: 5%;
    padding-top: 5%;
}

.flex-partner h2,
.flex-partner p{
    padding-bottom: 20px;
}

.flex-partner button{
    color: black;
    background-color: white;
    border: 2px solid black;
    font-weight: normal;
}

.container>h2{
    font-size: 2.3em;
    font-weight: 700;
    margin-bottom: 50px;
}

.flex-6{
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.flex-7{
    width: 100vw;
    height: calc(100vw/3);
}

.flex-8{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.column-7{
    width: calc(100vw/3);
    height: calc(100vw/3)
}

.column-8{
    width: 50%;
    height: 50%;
}
/*

FOOTER

*/

footer{
    background-color: black;
    width: 100vw;
}

.footer-container{
    max-width: 80%;
    margin: auto;
}
.flex-9{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
}

.column-20{
    color: white;
}

.column-20>ul>li{
    padding-top: 10px;
}

.column-20>ul>li>a{
    color: white;
}

.column-20>ul>li:first-child{
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 30px;
}

hr{
    width: 15%;
}

.language-selection{
    padding-bottom: 50px;
    padding-top: 50px;
    color: white;
}

/*

DEBUG

*/
.debug main{
    
    height: 4000px;
    width: 100vw;
}

.debug .flex-6{
    height: 1000px;
}

.debug .column-7{
    border: dashed black;
}

.debug .flex-9{
    background-color: black;
}